<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CheckerBoard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css')}}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='/js/main.js')}}" defer></script>
</head>
<body>
    <div id="wrapper">
        <h1 style="background-color:{{bcolor}};color:{{color}};">***Checkerboard***</h1>
        <div id="checkerboard">
            {% for j in range(0, col): %}
                <div>
                {% for k in range(0, row): %}
                    {% if (j % 2 == k % 2): %}
                        <div class=box style="color: {{color}}; background-color: {{bcolor}}"></div>
                    {% else: %}
                        <div class=box style="color: {{bcolor}}; background-color: {{color}}"></div>
                    {% endif %}
                {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
